* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hedvig-letters-serif- {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-main: #4b1517;
  --color-secondary: #fcf5c7;
  --color-third: #28211c;
}

/**** Burgermenu ******/
a {
  font-family: "Hedvig Letters Serif", serif;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 32px;
}

.menu {
  max-height: 0;
  overflow: hidden;
  list-style: none;
  transition: max-height 1s ease;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  background-color: var(--color-secondary);
  opacity: 50%;
  z-index: 5;
  text-align: end;
}

nav.active .menu {
  display: block;
  background-color: var(--color-secondary);
  opacity: 50%;
  position: absolute;
  top: 8%;
  left: 0%;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 6;
  text-align: end;
  max-height: 100vh;
  padding-top: 66px;
}
.burger {
  display: block;
  padding-top: 10px;
  justify-self: end;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 100px;
}
.navbar {
  padding: 0 5px;
  margin-right: 1rem;
}

.burger .line {
  width: 65px;
  height: 4px;
  margin: 10px;
  background-color: var(--color-secondary);
  margin: 6px 0;
  transition: 0.3s;
  border-radius: 10px;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 5px);
}

.burger.active .line:nth-child(2) {
  transform: rotate(-45deg) translate(3px, 4px);
  transition: 0.2s linear;
}

nav.active .menu li {
  margin: 20px 20px;
}

nav.active .menu a {
  color: var(--color-main);
  font-weight: 600;
}

nav.active .menu a:hover {
  color: brown;
  font-weight: 600;
}

.menu-open .forside_indhold {
  opacity: 30%;
}

/************ MAIN *************/

body {
  background-color: var(--color-main);
}

h1 {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 3rem;
  color: var(--color-secondary);
}

h2 {
  font-family: "Hedvig Letters Serif", serif;
  font-size: 55px;
  color: var(--color-secondary);
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: var(--color-secondary);
}

#img1 {
  width: 30%;
  height: 60vh;
  position: absolute;
  top: 225px;
  left: 470px;
  border-radius: 25px;
  z-index: -1;
}

#port {
  font-size: 259px;
  margin-bottom: 70px;
  margin-top: -100px;
}

#folio {
  font-size: 259px;
  justify-content: end;
}

#højre {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#video {
  width: 100%;
  height: 80vh;
  background-color: var(--color-third);
}

#section_1 {
  margin-bottom: 72px;
}

/*** SECTION 2 ***/

.pargraf {
  margin-top: 232px;
  margin-left: 50px;
}

.pargraf p {
  margin-top: 40px;
  line-height: 35px;
  padding-right: 120px;
}

#stortP {
  font-size: 1000px;
  font-family: "Hedvig Letters Serif", serif;
  color: var(--color-secondary);
  margin-left: -120px;
  margin-top: -200px;
  overflow: hidden;
  position: absolute;
}

#img2 {
  width: 30%;
  height: auto;
  position: absolute;
  border-radius: 25px;
  margin-left: 163px;
  margin-top: 279px;
}

/******* SECTION 3 *******/

#section_3 {
  background-color: var(--color-third);
}

#section_3 {
  background-color: var(--color-third);
  padding: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/****** OVERLAY ********/

.overlay_container {
  position: relative;
}

.overImg {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: var(--color-secondary);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: var(--color-main);
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 25px 25px;
  display: flex;
  justify-content: space-between;
}

/* When you mouse over the container, fade in the overlay title */
.overlay_container:hover .overlay {
  opacity: 1;
}

.overlay_container .styling {
  color: var(--color-main);
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}
.styling:last-child:hover {
  color: brown;
  text-decoration: underline solid;
  font-family: "Montserrat", sans-serif;
}

/***** CAROUSEL ****/

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.6s ease;
}

/* Hver slide fylder 100% */
.slide {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  position: relative;
}

/* Billeder fylder deres grid celle */
.slide img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 25px;
}

.arrow {
  background: none;
  border: none;
  font-size: 30px;
  color: var(--color-secondary);
  cursor: pointer;
  z-index: 3;
  margin: -40px;
}

/****** SECTION 4 ******/

#section_4 {
  margin-bottom: -10px;
}

.img3 {
  width: 60%;
  height: auto;
  margin-left: 170px;
  display: block;
  border-radius: 25px;
}

.kompetencerUl {
  margin-left: 60px;
}

.navigLi {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-block: 20px;
  text-decoration: underline solid var(--color-secondary) 2px;

  p:hover {
    color: brown;
    cursor: pointer;
  }
}

.kompetenceknapper {
  margin-top: 20px;
  margin-bottom: 100px;

  p {
    border-style: solid;
    border-color: var(--color-secondary);
    border-radius: 50px;
    border-width: 2px;
    padding: 10px 20px 10px 20px;
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    margin: 6px 2px 6px 0px;
    font-size: 15px;
  }
}
.navne {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.navn {
  font-family: "Hedvig Letters Serif", serif;
  color: var(--color-secondary);
  font-size: 259px;
}

/****** SECTION 5 *******/

#section_5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 50px;
}

#efternavn {
  font-family: "Hedvig Letters Serif", serif;
  color: var(--color-secondary);
  font-size: 259px;
}

.kontakt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.wrapper {
  background-color: rgba(110, 143, 162, 1);
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.karussel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.karussel-wrapper {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.karussel-text {
  display: inline-block;
  white-space: nowrap;
  animation: karussel 30s linear infinite;
  font-size: 4rem;
  color: #dfe8ed;
}

@keyframes karussel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  } /* Hvis du har duplikeret teksten */
}

footer {
  margin-top: 300px;
}

/********************************* PROJEKT SIDER ***************************************************************/

/* Dankort */
.projektmain {
  background-color: var(--color-secondary);
}

.projektmain h1 {
  font-size: 210px;
  color: var(--color-main);
}

.projektmain h2 {
  color: var(--color-main);
  padding-left: 120px;
  font-size: 42px;
}

.projektmain p {
  margin-top: 40px;
  line-height: 35px;
  padding-left: 120px;
  color: var(--color-main);
  font-family: "Montserrat", sans-serif;
}

.projektmain a {
  color: var(--color-main);
  font-family: "Montserrat", sans-serif;
}

.projektmain a:hover {
  color: brown;
  font-family: "Montserrat", sans-serif;
}

.seProjekt {
  border-style: solid;
  border-color: var(--color-main);
  border-radius: 50px;
  border-width: 2px;
  padding: 10px 20px 10px 20px;
  font-family: "Montserrat", sans-serif;
}

.seProjekt:hover {
  color: brown;
  border-color: brown;
}

.grid_1-1 {
  margin-top: -40px;
  padding-left: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  margin-bottom: 200px;
}

/* Soundwheel */
